<div class="search-set mb-5 pb-3">
  <h5 class="title"><strong>低FODMAPレシピを検索</strong></h5>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="search_con mt-3">
          <%= form_with url: search_recipes_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, placeholder: "料理名・食材でレシピをさがす", value:@keyword %>
            <input type="submit" value="&#xf002">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h5 class="title"><strong>低FODMAP(フォドマップ)食とは？</strong></h5>
<p class="what-fod">
  下痢や便秘が続くと腸の健康が乱れ、肌荒れ、肩こりなど様々な症状を引き起こします。<br>
  そんな症状が続く方は「過敏性腸症候群」かもしれません。<br>
  そんな過敏性腸症候群の75～80％の方に改善が見られた方法、それが「低FODMAP食」です。<br>
  FODMAPとは４種類の発酵性の糖質の頭文字をとった呼び方で、これらを含む食品を控える食事療法を「低FODMAP食」といいます。<br>
  このサイトは低FODMAP食のレシピを皆様が投稿とシェアする場として作られています。
</p>

<h5 class="title mt-5 mb-3"><strong>FODMAP表（一部）</strong></h5>
<div class="container">
  <div class="row g-2 mb-3">
    <div class="col-sm">
      <div class="low">
        <h5><strong>○ 低FODMAP食</strong></h5>
        <ul>
          <li class="mb-2">米</li>
          <li class="mb-2">にんじん</li>
          <li class="mb-2">ピーマン</li>
          <li class="mb-2">レモン</li>
          <li class="mb-2">バナナ</li>
          <li class="mb-2">バター</li>
          <li class="mb-2">肉類</li>
          <li class="mb-2">魚介類</li>
          <li class="mb-2">アーモンド</li>
          <p class="mt-2">など...</p>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="high">
        <h5><strong>× 高FODMAP食</strong></h5>
        <ul>
          <li class="mb-2">うどん</li>
          <li class="mb-2">パスタ</li>
          <li class="mb-2">ケーキ</li>
          <li class="mb-2">玉ねぎ</li>
          <li class="mb-2">りんご</li>
          <li class="mb-2">牛乳</li>
          <li class="mb-2">ソーセージ</li>
          <li class="mb-2">納豆</li>
          <li class="mb-2">キムチ</li>
          <p class="mt-2">など...</p>
        </ul>
      </div>
    </div>
  </div>
</div>
<small><strong><%= link_to "すべて見る＞", foods_index_path, class:"view mr-5 mb-5", style:"color: #DBB34E;" %></strong></small>
<div class="pb-4"></div>

<div class="mt-5 mb-3 title">
  <span class="h5"><strong><%= link_to "新着のレシピ", recipes_path %></strong></span>
</div>
<div class="scr">
  <div class="box-mini">
    <% @new.each do |r| %>
      <%= link_to r do %>
        <div class="box-content">
          <%= image_tag r.image.url, class:"recipe-photo" %>
          <p class="recipe-title"><%= r.title %></p>
          <div class="ingredient-box">
            <% r.ingredients.each do |i| %>
              <span><%= i.name %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<small><strong><%= link_to "すべて見る＞", recipes_path, class:"view mr-5", style:"color: #DBB34E;" %></strong></small>

<h5 class="mt-5 mb-3 title"><strong>人気のレシピ</strong></h5>
<div class="scr">
  <div class="box-mini">
    <% n = 1%>
    <% @ranking.each do |r| %>
      <%= link_to r do %>
      <div class="ranking-<%=n%>"><%=n%>位</div>
      <% n += 1 %>
        <div class="box-content">
          <%= image_tag r.image.url, class:"recipe-photo" %>
          <p class="recipe-title"><%= r.title %></p>
          <div class="ingredient-box">
            <% r.ingredients.each do |i| %>
              <span><%= i.name %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<small><strong><%= link_to "すべて見る＞", recipes_path, class:"view mr-5", style:"color: #DBB34E;" %></strong></small>